* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;

}
.App {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 40px;
}

.button__paint-checks {
  margin-bottom: 20px;;
}

.form {
  position: relative;
}

.form__title {
  margin-bottom: 16px;
  background-color: #fff;
  position: absolute;
  padding: 5px 10px;
}

.form__title.gender {
  top: 23px;
  left: 9px;
}
.form__title.city {
  top: 146px;
  left: 9px;
}

.form fieldset {
  text-align: left;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
}

.users {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}